[general]
save_aggregate = True
save_forensic = True
output = ./dmarc_reports
aggregate_json_filename = aggregate.json
aggregate_csv_filename = aggregate.csv

[gmail_api]
credentials_file = ./credentials.json
token_file = ./token.pickle
oauth2_port = 8080

[mailbox]
reports_folder = DMARC Reports
archive_folder = DMARC Archived
watch = False
delete = False
batch_size = 0

[elasticsearch]
hosts = localhost:9200
save_aggregate = True
save_forensic = True
index_prefix = dmarc
ssl_enabled = False
ssl_verify = False
username = 
password = 
